<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DemoSqlConnection.Properties.Settings.DemodbConnectionString"
            connectionString="Data Source=Windows10;Initial Catalog=first;User ID=sa;Password=h335675u"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>